<section class="tabs">
  <div role="tabpanel" class="maintabs">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">Features &amp; Specs</a></li>
      <li role="presentation"><a href="#plans" aria-controls="plans" role="tab" data-toggle="tab">Plans</a></li>
      <li role="presentation"><a href="#reviews" onclick="appUtil.resizeIframe('#reviewFrame')" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
    </ul>
    <div class="tab-content">
      <phone-details-features></phone-details-features>
      <div role="tabpanel" class="tab-pane" id="plans" ng-bind-html="phoneController.details.planPage"></div> 
      <div role="tabpanel" class="tab-pane" id="reviews">
        <div class="col-md-12" style="padding-left:30px;padding-top:10px;padding-bottom:10px">
          <div style="display:none" id="detailId">{{phoneController.details.data.selectedVariant.sku}}</div>
          <iframe style="width:100%;height:100%;border:0;" src="templates/phone/review.html?id=MOT1526BBB" id="reviewFrame" frameborder="0" scrolling="no" onload="this.ready=true"></iframe>
          
        </div>
      </div>
    </div>
  </div>
</section>
