<section>
  <div class="col-md-12 tcs">
    <h4>Terms &amp; Conditions</h4>
    <a href="http://www.sprint.com/legal/terms_conditions_spp.html?INTNAV=CMS:LGL:SPP:ConsumerTermsConditions" target="_blank">Read Terms &amp; Conditions</a>
    <label>
      <input type="checkbox" ng-model="checkoutController.data.agree" required/>I've read and agree to the terms and conditions of my order. THIS AGREEMENT CONTAINS A BINDING ARBITRATION PROVISION WHICH MAY BE ENFORCED BY THE PARTIES. By checking I've read and agree to the terms and conditions of my order, you (i) represent that all information you have provided to Sprint is correct; and (ii) agree that you have read and agreed to all terms of this Agreement, including the terms of your service plan and the Ts&amp;Cs.</input>
    </label>
  </div>
</section>