<section class="checkout">
  <div class="col-xs-12 col-md-8">
    <checkout-item-list></checkout-item-list>
    <checkout-promo-form></checkout-promo-form>
    <checkout-billing-form></checkout-billing-form>
    <checkout-shipping-form></checkout-shipping-form>
    <checkout-payment-form></checkout-payment-form>
    <checkout-agreement></checkout-agreement>
    <checkout-summary></checkout-summary>
  </div>
  <div class="hidden-xs hidden-sm col-md-4">
    <section>
      <div class="orderbyphone">
        <h3>Order by Phone</h3>
        <p>Need help choosing a phone or a plan? Just give us a call.</p>
        <h3 class="phonenumber">1-866-866-7509</h3>
      </div>
    </section>
    <section>
      <h3>How it Works</h3>
      <ul class="features howitworks">
        <li>
          <img src="img/icons/smartphone.png"/>
          <div>
            <p>Order by phone, online, or in a store.</p>
          </div>
        </li>
        <li>
          <img src="img/icons/activate.png"/>
          <div>
            <p>When you get your phone, activate a no-contract plan online.</p>
          </div>
        </li>
        <li>
          <img src="img/icons/keepyournumber.png"/>
          <div>
            <p>Keep your number or choose a new one. Enjoy!</p>
          </div>
        </li>
      </ul>
    </section>
  </div>
</section>
